html, body {
  padding: 0;
  margin: 0;
  height: 100%;  
}

#app, #app > div {
  height: 100%;
}

#top, #left, #right {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  width: 70px;
  height: 30px;  
}

/* Home */

#top {
  background-color: red;
  overflow: hidden;
  height: 90px;
  line-height: 90px;
}

.content {
  height: calc(100% - 90px);
}

#top > * {
  display: inline-block;
  font-size: 0;
}

#top > .left {
  width: calc(100% - 150px);
  font-size: 30px;
  font-weight: bold;
}

#top > .right {
  width: 150px;
  height: 90px;
  vertical-align: top;
}

#top > .right  a {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 10px;
}

#top > .right button {
  vertical-align: middle;
}

#left {
  display: inline-block;
  background-color: blue;
  width: 200px;
  height: 100%;
  vertical-align: top;
}

#right {
  display: inline-block;
  background-color: green;
  width: calc(100% - 200px);
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

li a.active {
  background-color: gray;
}

li a:hover {
  color: black;
  background-color: cyan;
}

/* Login, Join */
.panel {
  display: inline-block;
  width: 400px;
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 20px 30px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.panel > div {
  height: 40px;
  line-height: 40px;
}

.panel > div > * {
  vertical-align: middle;
}

.panel > div > a {
  margin-right: 10px;
}

.panel > div:last-of-type {
  text-align: center;
}

.panel span {
  font-size: 20px;
  font-weight: bold;
}

.panel label {
  display: inline-block;
  width: 110px;button {
    display: inline-block;
    width: 70px;
    height: 30px;  
  }
  text-align: right;
  margin-right: 20px;
}
